.plotly-link-external {
    width: 12px !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
    display: inline-block !important;
    position: relative !important;
    vertical-align: top !important;
}

.plotly-link-external a {
    position: absolute !important;
    white-space: nowrap !important;
    left: -8px !important;
    top: -12px !important;
    width: 25px !important;
    height: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid #447adb !important;
    border-radius: 8px 8px 8px 0 !important;
    background-color: white !important;
    color: white !important;
    text-align: center !important;
    font-family: 'Open Sans',verdana,arial,sans-serif !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-decoration: none !important;
    box-shadow: -1px 1px 10px rgba(0,0,0,0.5) !important;
    -webkit-transition: all 0.4s ease !important;
    -moz-transition   : all 0.4s ease !important;
    -o-transition   : all 0.4s ease !important;
}

.plotly-link-external a:hover {
    width: 118px !important;
    z-index: 1000000000 !important;
}

.plotly-link-external img {
    width: 19px !important;
    height: 19px !important;
    margin: 0 3px !important;
    vertical-align: top !important;
}

.plotly-link-external span {
    display: inline-block !important;
    overflow: hidden !important;
    z-index: 10;
    background: #447adb !important;
    padding: 0 !important;
    color: white !important;
    border-radius: 0 7px 7px 0 !important;
    width: 0 !important;
    -webkit-transition: all 0.4s ease !important;
    -moz-transition   : all 0.4s ease !important;
    -o-transition   : all 0.4s ease !important;
}

.plotly-link-external a:hover span {
    width: 95px !important;
}
